.item {
    width: 10px;
    padding: 15px;
    margin: 0.5em;
    font-weight: bold;
    background-color: #DAB88B;
    border: 1px solid #c7a67b;
    cursor: pointer;
}

.selected {
    background-color: #a08764;
    border: 1px solid #968064;
}