.item {
    width: 2.5em;
    height: 2.5em;
    margin: 0.5em;
    font-weight: bold;
    background-color: var(--items-background);
    border: 1px solid var(--items-border);
    color: white;
    cursor: pointer;
}

.selected {
    background-color: var(--items-selected-background);
    border: 1px solid var(--items-selected-border);
}